*{
--warning-bg-color:#cc3300;
--warning-color:#ffffff;
--warning-watermark:#ffcc00;
--normal-bg-color:rgb(101,166,55);
--normal-color:#ffffff;
--normal-watermark:#ffcc00;
}

.main-section-body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-cell{
    width: 33%;
    height: 20vh;
    margin: 2px;
}
#app .dashboard-panel{
    height: 100%;
    border: none;
    background:none;
}

.monitorContainor{
    height: 20vh;
}


.monitorContainor .monitor{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;  
}

.monitorContainor .content{
    width: 100%;
    border: 1px solid yellow;
    height: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

.monitorContainor .monitor{
    flex-direction: column;
    border-radius: 2px;
    height: 100%;
}


.monitorContainor .watermark{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    font-size: large;
    text-transform: uppercase;
    font-size: 30pt;
    transform: rotate(-20deg);
    color: blue;
}
.monitorContainor .watermark span{
    align-self: center;
}

html {
	background-image: linear-gradient(225deg, transparent 35%, hsla(192,0%,0%,0.6)),
										radial-gradient(center center, circle closest-side, #5ed7f6, #0489ca);
   min-height: 100%;
}


/*-------------------------- coin effort --------------------------*/
.monitor{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; 
    -webkit-transition: all 600ms;
    transition: all 600ms; 
}
.monitor div.display.warning{
    background-color:var(--warning-bg-color);
    color: var(--warning-color);
}


.monitor div.display{
    background: var(--normal-bg-color);
    color:var(--normal-color);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.monitor.front{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.monitor .front,
.monitor .back{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
}

.monitor .front{
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px; 
}
.monitor .back{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}


/*-------------------------- coin effort above --------------------------*/


/*--------------------------loading css below ------------------------------------*/
.shadow {
	position:absolute;
	bottom:25px;
	right:25px;
	border-radius:50%;
	box-shadow:-2px 2px 10px 0 rgba(0,0,0,0.5),
						 2px -2px 10px 0 rgba(255,255,255,0.5);
}

.loader {
    background: -webkit-linear-gradient(left, skyblue 50%, #fafafa 50%); /* Foreground color, Background colour */
    border-radius: 100%;
    height: 30px; /* Height and width */
    width: 30px; /* Height and width */
    animation: time 8s steps(500, start) infinite;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    animation: mask 8s steps(250, start) infinite;
    transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% { 
        transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #fafafa; /* Background colour */
        transform: rotate(0deg);
    }
    50% {
        background: #fafafa; /* Background colour */
        transform: rotate(-180deg);
    }
    50.01% {
        background: skyBlue; /* Foreground colour */
        transform: rotate(0deg);
    }
    100% {
        background: skyBlue; /* Foreground colour */
        transform: rotate(-180deg);
    }
}​
/*--------------------------loading css above ------------------------------------*/